* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1000px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
}
.img {
  width: 430px;
  height: 100%;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info {
  width: 460px;
  height: 90%;
  margin-left: 3rem;
}

.description {
  text-align: left;
}

.description h2 {
  color: hsl(217, 19%, 35%);
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.description p {
  color: hsl(214, 17%, 51%);
  font-size: 18px;
  margin-bottom: 2.5rem;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.perfil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name-date span {
  font-weight: bold;
  color: hsl(217, 19%, 35%);
}
.name-date p {
  color: hsl(214, 17%, 51%);
  padding-top: 0.8rem;
}

.perfil button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
}
.hide {
  display: none;
}
.list-links {
  width: 250px;
  height: 60px;
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  left: 68%;
  top: 48%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 8px;
}

.list-links > div {
  position: relative;
  top: 65%;
  left: -38%;
  border-top: 20px solid hsl(217, 19%, 35%);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.list-links svg {
  padding-left: 2rem;
}

.btn {
  width: 40px;
  background-color: red;
}

svg {
  fill: #6e8098;
}

button:hover svg,
button:hover {
  fill: white;
  background-color: hsl(214, 17%, 51%);
  cursor: pointer;
}

.responsivo {
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 470px;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .img {
    width: 100%;
  }
  .img img {
    height: 250px;
  }
  .info {
    width: 100%;
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    padding: 1rem 2.5rem;
  }
  .description h2 {
    font-size: 25px;
  }
  .description p {
    width: 312px;
  }
  .perfil {
    background-color: cadetblue;
    width: 80%;
  }

  .perfil img {
    width: 60px;
    height: 60px;
  }
  .name-date p {
    padding-top: 0.5rem;
  }
  .perfil button {
    margin-right: 1rem;
  }
  .list-links {
    justify-content: space-between;
    width: 380px;
    height: 60px;
    position: absolute;
    top: 82%;
    left: 10%;
  }
  .list-links div {
    display: none;
  }
  .responsivo {
    display: inline;
  }
  .list-links .responsivo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
  }
  .responsivo svg {
    padding-left: 0;
    margin: 0 auto;
  }
}
